[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
faker = "*"
pytest-xdist = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
headless-default = "pytest --alluredir=./reports --clean-alluredir"
headless-parallel = "pytest --numprocesses auto --alluredir=./reports --clean-alluredir"
headed-chromium = "pytest --browser_name chromium --headed --alluredir=./reports --clean-alluredir"
headed-firefox = "pytest --browser_name firefox --headed --alluredir=./reports --clean-alluredir"
headed-webkit = "pytest --browser_name webkit --headed --alluredir=./reports --clean-alluredir"
report = "allure serve reports"