[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
faker = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
default = "pytest"
parallel = "pytest --numprocesses auto"
headed-chromium = "pytest --browser_name chromium --headed"
headed-firefox = "pytest --browser_name firefox --headed"
headed-webkit = "pytest --browser_name webkit --headed"